body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #3498db;
    color: #000000; /* Black text color */

   
}

}
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    text-align: center;
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h2 {
    margin: 0;
}

.about-me-box,
.experience-box,
.faq-box {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000000; /* Black text color */
}

h2 {
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}